table.striped tr:nth-of-type(odd) {
    background-color: #dde;
    padding: 1ex;
}

td.number {
    text-align: right;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted blueviolet;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 20em;
    background-color: #3c4a4a;
    color: #ececec;
    text-align: left;
    padding: 5px 1px;
    border-radius: 3px;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.confirm {
    background-color: #aaffaa;
}

.cancel {
    background-color: #ffaaaa;
}

/* base body */
html {
    background-color: floralwhite;
    display: flex;
    padding: 1rem;
}

/* main content */
body {
    max-width: 40rem;
    margin: 0 auto;
    background-color: lightslategray;
    color: floralwhite;
}

button {
    height: 2rem;
    border: 0;
    margin: 0.4rem;
    padding: 0 1rem;
}

/* actual card content */
p {
    max-width: 32rem;
    width: 32rem;
    font-size: 2rem;
    padding: 3rem;
    text-align: center;
    margin: 1rem;
    color: slategray;
}

/* nav div */
#memoradical div:first-child {
    border-bottom: 1px solid slategray;
    background-color: floralwhite;
}

#memoradical div:first-child button {
    height: 3rem;
    background-color: slategray;
    border-right: 1px solid black;
    border-radius: 8px 8px 0 0;
    margin-top: 1rem;
    margin-right: -0.4rem;
    margin-bottom: 0;
    border-bottom: 1px solid slategray;
}

#memoradical div:first-child button:first-of-type {
    margin-left: 0;
}

#memoradical div:first-child button:disabled {
    background-color: lightslategray;
    color: floralwhite;
    font-weight: bold;
    border-bottom: 1px solid lightslategray;
}

/* check boxes for changing behavior */
.form-check {
    margin-right: 1rem;
    display: inline-block;
    text-transform: capitalize;
}

.form-check:first-of-type {
    margin-left: 1rem;
    color: red;
}

.card {
    font-size: large;
    padding: 3em;
}

.card.prompt {
    background-color: #eee8aa;
}

.card.response {
    background-color: #c1ffc1;
}
